mixin contentbar(Text,image)
  .Myday
            img(src=`./images/${image}.png`, alt='')
            | &nbsp;&nbsp;
            .TaskText=Text

mixin condition(to)
 if to.prio
  .ContentDetails=to.TodoText
 else 
  .ContentDetails.lineThrough=to.TodoText
 
mixin checked(prio)
 if !prio
  input(type='checkbox' checked).CheckBox
 else 
  input(type='checkbox').CheckBox            

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='./css/style1.css')
    link(rel='shortcut icon' type='image/png' href='./images/Logo.png')
    title=title
  body
    .Lay_Out
      .leftSection
        .threedots
          .dot1
          .dot2
          .dot3
        .User_Details
          .User_icon.FlexCenter=symbol
          .Social_Details
            .name_Details=user.name
            .email_Details=user.email
        .Logout_Cont
          .textLoggingOut Log Out    
        +contentbar('Tasks','sun')
        +contentbar('Completed','check')
        -const data=Math.floor(Math.random()*2)
      .rightSection
        video.vid(preload='auto', muted='', loop='')
          source(src=`./videos/Background${data}.mp4`)
        |  
        .Todo_Info
          .Heading HabitZ
          .ListTodos
           each to,index in todos
             .TemplateTodo(data-itemno=`${index+1}`)
                .TextTodo
                  +checked(to.prio)
                  .DetailsText
                    +condition(to)
                    .DateTime
                      img(src='./images/calender.png')
                      .DataDate-Time=to.timeStamp
                img.Priority_Star(src='./images/dustbin.png', alt='')
        |  
        .Add-Button
          .plus +
          | &nbsp;&nbsp;Add a task
    script(type='module', src='./js/main.js')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js')